@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Light.eot');
  src: url('../fonts/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Stolzl-Light.woff2') format('woff2'),
  url('../fonts/Stolzl-Light.woff') format('woff'),
  url('../fonts/Stolzl-Light.ttf') format('truetype'),
  url('../fonts/Stolzl-Light.svg#Stolzl-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Slate';
  src: url('../fonts/slate.eot');
  src: url('../fonts/slate.eot?#iefix') format('embedded-opentype'),
  url('../fonts/slate.woff2') format('woff2'),
  url('../fonts/slate.woff') format('woff'),
  url('../fonts/slate.ttf') format('truetype'),
  url('../fonts/slate.svg#Stolzl-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

%icon {
  font-family: Slate;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\e600";
}
%icon-info-sign {
  @extend %icon;
  content: "\e602";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  color: blue;
  content: "\e607";
}
